.slon__work-time-mob,
.slon__main__header__mob,
.slon__nav-mob,
.slon__mob-filter-open,
.slon__mob-label,
.smart-filter__header,
.smart-filter__footer__wrap-mob,
.smart-filter__footer__col--mob,
.slon__main__single-product--title-mob,
.slon__main__single-product__reviews__mob-btn,
.slon__main__section__mob__header,
.slon__fix__price-mob,
.slon__main__header__mob__search,
.slon__compare__col-products--mob,
.slon__mob-compare-params,
.slon__product__del-mob,
.slon__lk-item--mob,
.slon__page__back-link {
  display: none;
}

@media screen and (max-width: 1199px) {
  .slon__nav-top__menu li {
    padding-right: 10px;
  }
  .slon__work-time,
  .slon__nav-top__auth a span {
    display: none;
  }
  .slon__nav-top__auth {
    .icon {
      margin-right: 0;
      margin-top: 10px;
    }
  }
  .slon__work-time-mob {
    display: block;
    font-size: 8px;
    line-height: 10px;
    color: #fff;
  }
  .slon__nav-top__phone {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    flex-grow: 0;
    padding-right: 10px;

    .tel {
      line-height: 1.3;
    }
  }
}

@media screen and (max-width: 991px) {
  .slon__nav-top {
    display: none;
  }
  .slon__nav-mob {
    display: none;
    background-color: #000;

    &.show {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 600;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .slon__nav-mob__menu {
      flex-direction: column;
      width: 100%;

      li {
        position: relative;
        display: block;


        &::after {
          content: "";
          display: block;
          width: 2000px;
          height: 1px;
          position: absolute;
          z-index: 10;
          left: -200px;
          bottom: 0;
          background-color: #2a2a2f;
        }

        a {
          display: block;
          font-size: 12px;
          line-height: 1;
          padding: 19px 0;
          font-weight: 500;
          color: #fff;
          text-decoration: none;
        }

        .slon__nav-mob__menu__close {
          float: right;
        }
      }

      .dropdown-toggle:not(.collapsed) {
        &::before {
          content: "";
          width: 2000px;
          height: 10px;
          position: absolute;
          z-index: 10;
          left: -200px;
          top: 58px;
          box-shadow: 0px 4px 6px 0px rgba(0, 255, 255, 0.4);
        }
      }
    }

    .nav--soc {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .dropdown-toggle::after {
      float: right;
      margin-top: 10px;
    }

    .dropdown-menu {
      position: relative !important;
      top: auto !important;
      left: auto !important;
      width: 100%;
      border-radius: 0;
      background-color: transparent;
    }

    .slon__submenu__nav {
      position: relative;
      padding: 0;

      li {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 41px;

        a {
          line-height: 34px;
          padding-top: 17px;
          padding-bottom: 17px;
        }

        &.slon__submenu__btn {
          padding-top: 10px;
          padding-bottom: 10px;

          .slon__btn-link {
            width: 230px;
            padding: 15px 0;
            height: 48px;
            text-align: center;
          }
        }
      }
    }
  }
  .slon__nav-mob__menu__search-item {
    padding: 10px 0;
  }
  .slon__nav-mob__search {
    padding: 5px 40px 5px 0;

    .slon__main__header__search-form {
      &::after,
      &::before {
        background-color: #000;
      }
    }
  }

  .slon__main__header__middle {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px -4px 12px 0px rgba(0, 255, 255, 0.4);
  }
  .slon__main__header__col-left {
    display: none !important;
  }
  .slon__main__header__links a svg {
    color: #00ffff;
  }
  .slon__main__header__mob {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 500;
    padding-bottom: 15px;
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 4px 12px 0px rgba(0, 255, 255, 0.4);

    .slon__main__header__mob__top-row {
      padding-top: 15px;
      align-items: center;

      .slon__main__header__logo-mob {
        display: block;
        width: 130px;
        height: auto;
      }

      .slon__nav-top__phone {
        margin-left: auto;
        padding-right: 0;

        .tel {
          color: #fff;
        }
      }
    }

    .slon__main__header__mob__bottom-row {
      padding-top: 15px;
      transition: all ease-in-out 0.3s;
      height: auto;
      align-items: center;

      .slon__main__city--mob {
        padding-left: 20px;
        background: url("../img/svg/ico-city.svg") 0 50% no-repeat;
        background-size: 15px auto;

        .slon__main__city__select {
          font-size: 12px;
          color: #a9a9a9;
          font-weight: 500;
          background-image: none;
          padding-right: 0;
        }
      }

      .slon__main__header__mob__navbar {
        justify-content: flex-end;

        li {
          padding-left: 25px;

          a {
            display: block;

            .icon {
              color: #00ffff;
            }
          }

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }

    &.is_active {
      .slon__main__header__mob__bottom-row {
        padding-top: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }
  .slon__main__header {
    padding-top: 100px;
  }
  .slon__list-catalog__slider__item .slon__list-catalog__product__bay {
    /*height: auto;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    padding-top: 20px;*/
    display: none;
  }
  .slon__product__fav-compare li {
    opacity: 1;
    visibility: visible;
  }
  .slon__main__single-product--title-mob {
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
  }
  .slon__main__single-product__top-right h1, .slon__main__single-product__top-right .h1 {
    display: none;
  }
  .slon__main__single-product__rev-top {
    padding-top: 25px;
    padding-bottom: 0;
    border-top: 1px solid #5f5f63;
  }
  .slon__main__single-product__rev-top .slon__main__single-product__col-all-rev {
    margin-left: auto;
  }
  .slon__main__single-product__top-right .slon__main__single-product__compare {
    margin-right: 0;
  }
  .slon__main__single-product__top-right__item--fav {
    justify-content: space-between;
  }

  .slon__main__single-product__body .slon__main__single-product__body__nav,
  .section__body__col-label,
  .section__body {
    display: none;
  }
  .slon__main__single-product__body-row {
    padding-bottom: 0;
  }
  .slon__main__single-product__body {
    padding-top: 0;
  }
  .section__body__row {
    padding-top: 0;
    padding-bottom: 0;
  }
  .slon__main__section__mob__header {
    background-color: #000;
    display: block;
  }
  .slon__main__section__mob__header__caption {
    padding: 10px 0;
    position: relative;
    color: #a9a9a9;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 50%;
      right: 0;
      width: 4px;
      height: 4px;
      border-left: 1px solid #a9a9a9;
      border-bottom: 1px solid #a9a9a9;
      transform: rotate(-45deg);
      margin-top: -2px;
      transition: all ease-in-out 0.3s;
    }
  }
  .slon__main__section__mob {
    border-bottom: 1px solid #2a2a2f;
  }
  .slon__main__section__mob.is_active {
    .section__body {
      display: block;
    }
    .slon__main__section__mob__header__caption {
      &::after {
        transform: rotate(135deg);
      }
    }
  }
  .section__body__col-desc {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .slon__main__single-product__reviews {
    border-right: none;
  }
  .slon__main__single-product__reviews__list {
    padding-right: 0;
    padding-bottom: 30px;
  }
  .slon__main__single-product__reviews__mob-btn {
    display: block;
    padding: 30px 0 15px;
  }
  .col-add-form-rev {
    display: none;
  }
  .slon__main__caption {
    font-size: 18px;
  }
  .slon__mob-addrev {
    padding-bottom: 50px;
    .slon__main__review__form__rating {
      padding-bottom: 20px;
      .slon__review__form__rating__label {
        color: #a9a9a9;
      }
    }
  }
  .slon__main__single-product__footer {
    padding-top: 50px;
  }
  .slon__complect__wrap .slon__complect__wrap__item {
    border-right: none;
    border-bottom: 1px solid #5f5f63;
  }
  .slon__complect__wrap .slon__complect__wrap__center {
    position: relative;
    z-index: 10;
  }
  .slon__complect__wrap .slon__complect__wrap__center > .row {
    margin-right: -30px;
    margin-left: -30px;
    position: relative;
    z-index: 10;
  }
  .slon__complect__wrap__item--plus::after {
    right: 50%;
    margin-right: -15px;
    top: auto;
    bottom: -15px;
  }
  .slon__complect__wrap .slon__complect__wrap__item,
  .slon__complect__wrap__result {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .slon__complect__wrap__result::after {
    left: 50%;
    top: 0;
    margin-left: -15px;
  }
  .slon__main__header__mob__search.show {
    display: block;
    padding-top: 20px;
    position: relative;
    padding-right: 30px;
    .slon__main__header__search-form::after {
      background-color: #000;
    }
    .slon__main__header__search-form::before {
      background-color: #000;
    }
    .smart-filter__header__close {
      position: absolute;
      z-index: 10;
      top: 20px;
      right: 0;
      height: 40px;
      width: 30px;
      color: #a9a9a9;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .slon__page__actions__desc {
    padding-left: 0;
  }
  .slon__page__actions__step {
    position: relative;
    padding-left: 40px;
    min-height: 50px;
    .slon__page__actions__step__number {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      font-size: 16px;
      line-height: 25px;
    }
    p {
      display: block;
    }
  }
  .slon__main__input-text {
    margin-top: -20px;
    margin-bottom: 10px;
    p {
      display: block;
      padding-left: 15px;
    }
  }
}

@media screen and (max-width: 768.1px) {
  .slon__main__home-slider__item__desc {
    justify-content: flex-start;
    padding-top: 30px;
  }
  .slon__main__home-slider__item {
    background-size: 100% auto;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-color: #000;
  }
  .nav--catalog-footer,
  .nav--footer-menu {
    display: none;
  }
  .slon__main__footer__logo-link {
    display: block;
    width: 230px;
    margin: 0 auto 20px;
  }
  .slon__main__footer__info {
    padding-bottom: 30px;
    text-align: center;
  }
  .slon__main__footer .nav--soc {
    justify-content: center;
  }
  .slon__main__footer__bottom {
    padding-bottom: 100px;
    text-align: center;

    .row {
      flex-wrap: wrap-reverse;
    }

    .nav--bottom li {
      padding: 0 0 15px;
      flex-basis: 100%;

      a {
        text-align: center;
      }
    }
  }
  .slon__page__header {
    display: block;

    h1 {
      font-size: 20px;
      line-height: 28px;
      padding-bottom: 15px;
    }

    .slon__mob-filter-open {
      display: block;
      padding-bottom: 15px;

      .btn-filter-open {
        height: 34px;
        cursor: pointer;
        padding: 5px 15px 5px 40px;
        color: #fff;
        font-size: 12px;
        line-height: 24px;
        background: rgb(42, 42, 47) url("../img/svg/ico-filter.svg") 10px 50% no-repeat;
        background-size: 20px auto;
      }
    }

    .slon__page__sort {
      width: 100%;

      .dropdown-menu.dropdown-menu--black {
        width: 100%;
      }
    }
  }
  .slon__page__sort--catalog .btn-sort {
    text-align: left;
    justify-content: flex-start;
    padding: 5px 10px;
    border: 1px solid #5f5f63;
    position: relative;

    &.dropdown-toggle::after {
      position: absolute !important;
      right: 10px;
    }
  }
  .slon__col-filter {
    display: none;
  }
  .slon__col-product {
    .slon__product__inner__top {
      height: 10px;
      min-height: 10px;
      flex-basis: 10px;
      width: calc(100% - 10px);

      &::after {
        border-bottom: 10px solid #2a2a2f;
        border-left: 10px solid transparent;
      }
    }

    .slon__product__inner__bottom {
      height: 10px;
      min-height: 10px;
      flex-basis: 10px;
      width: calc(100% - 10px);

      &::after {
        border-top: 10px solid #2a2a2f;
        border-right: 10px solid transparent;
      }
    }

    .slon__product__inner__body {
      display: flex;
      flex-wrap: wrap;

      .slon__list-catalog__product {
        flex-basis: 45%;
        max-width: 45%;
      }

      .slon__product__text {
        flex-basis: 55%;
        max-width: 55%;
        .slon__list-catalog__product__bay {
          display: none !important;
        }
      }

      .slon__product__fav-compare {
        position: relative;
        top: auto;
        right: auto;
        order: 3;
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #1a1a1d;
        padding: 10px 10px 0;
        justify-content: space-between;

        li {
          padding-bottom: 0;

          a {
            display: flex;
            align-items: center;
            padding: 5px 0;
            text-decoration: none;

            .slon__mob-label {
              display: block;
              font-size: 10px;
              color: #a9a9a9;
              font-weight: 500;
              padding-left: 5px;
            }
          }
        }
      }
    }
    .slon__remove-product {
      display: none;
    }
  }
  .slon__list-catalog__slider__item__wrap {
    min-height: 200px;
  }
  .slon__col-filter {
    &.show {
      display: block !important;
      position: fixed;
      z-index: 600;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #2a2a2f;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0;

      .smart-filter {
        padding: 0;

        .smart-filter__body {
          padding: 60px 20px;
        }

        .smart-filter__item {
          max-width: 540px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .smart-filter__header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 220;
        background-color: #000;
        box-shadow: 0px 4px 12px 0px rgba(0, 255, 255, 0.4);
        padding: 15px 0;
        display: block;

        .smart-filter__header__close {
          color: #fff;
          margin-left: auto;
        }
      }

      .smart-filter__footer__wrap-mob {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        max-width: 540px;

        .smart-filter__header__caption {
          font-size: 12px;
          line-height: 20px;
          color: #fff;
        }
      }

      .smart-filter__footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 220;
        background-color: #000;
        padding: 15px 0;
        box-shadow: 0px -4px 12px 0px rgba(0, 255, 255, 0.4);

        .smart-filter__clear {
          display: none;
        }

        .smart-filter__footer__wrap {
          display: flex;
          max-width: 560px;
          margin: 0 auto;

          .smart-filter__footer__col {
            display: block;
            padding: 0 10px;
            flex-basis: 50%;
          }
        }
      }
    }
  }
  .smart-filter__footer .slon__btn--green {
    height: 30px;

    .slon__btn__center {
      height: 30px;
      padding: 5px;
    }

    & .slon__btn__left,
    & .slon__btn__right {
      height: 22px;
    }
  }
  .slon__main__text {
    & h1,
    & .h1 {
      font-size: 20px;
      line-height: 28px;
      padding-bottom: 15px;
    }
    & h2,
    & .h2 {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 15px;
    }
    & h4,
    & .h4 {
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 5px;
    }
    & h3,
    & .h3 {
      font-size: 15px;
      line-height: 20px;
      padding-bottom: 5px;
    }
    p {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 5px;
    }
    ul li {
      font-size: 12px;
      line-height: 20px;
      &::after {
        top: 9px;
      }
    }
  }
  .slon__review .slon__review__body {
    padding-right: 0;
    font-size: 12px;
  }
  .mob-price.is_active {
    .slon__fix__price-mob {
      display: block;
      position: fixed;
      bottom: 70px;
      left: 0;
      right: 0;
      z-index: 350;
      background-color: #000;
      padding: 10px 0;
      .slon__list-catalog__product__price {
        padding-left: 0;
      }
      .slon__fix__price-mob__btn {
        margin-left: auto;
      }
    }
  }
  .slon__page__sort--art {
    .dropdown-menu.dropdown-menu--black {
      min-width: 100% ;
      width: auto !important;
      left: auto !important;
      right: -30px !important;
    }
  }
  .slon__clear-link {
    display: flex;
    padding: 5px 10px;
    border: 1px solid #898989;
    align-items: center;
    line-height: 20px;
  }
  .slon__page__cart__item__wrap {
    flex-wrap: wrap;
    align-items: flex-start;
    .slon__mob-label {
      display: block;
      font-size: 10px;
      color: #a9a9a9;
      font-weight: 500;
      padding-left: 5px;
    }
  }
  .slon__product__min-product {
    .slon__product__min-product__images {
      flex-basis: 40%;
      padding: 0 10px;
    }
    .slon__page__cart__item__col-title {
      flex-basis: 60%;
      padding: 0 10px;
    }
    .slon__page__cart__item__mob-hr {
      flex-basis: 100%;
      position: relative;
      height: 18px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: 9px;
        height: 1px;
        background-color: #202024;
        left: -14px;
        right: -14px;
      }
    }
    .slon__page__cart__item__col-count {
      flex-basis: 40%;
      padding-right: 10px;
    }
    .slon__page__cart__item__col-price {
      flex-basis: 60%;
      padding: 0 10px;
    }
    .slon__page__cart__item__col-favorite {
      margin-left: auto;
      order: 5;
      flex-basis: auto;
      min-width: auto;
      .slon__product__favorite {
        display: flex;
        align-items: center;
        svg {
          flex-basis: 25px;
          width: 25px;
        }
      }
    }
    .slon__page__cart__item__col-del {
      flex-basis: auto;
      min-width: auto;
      order: 4;
      .slon__page__cart__item__remove {
        height: 25px;
        display: flex;
        align-items: center;
        padding-left: 23px;
        text-decoration: none;
        background-position: 0 50%;
        background-repeat: no-repeat;
        background-size: 21px 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 147.81 172.12'%3E%3Cpath fill='%230a898f' d='M94.86,0H53V22H0V58.69H9.86l11,113.43H126.94L138,58.69h9.85V22H94.86ZM63,10.09H84.78V22H63ZM117.79,162H30L20,58.69H127.82ZM137.73,32.09V48.61H10.09V32.09Z'/%3E%3Crect fill='%230a898f' x='68.86' y='78.33' width='10.09' height='64.1'/%3E%3Cpolygon fill='%230a898f' points='95.83 78.33 92.83 142.42 102.92 142.42 105.93 78.33 95.83 78.33'/%3E%3Cpolygon fill='%230a898f' points='51.98 78.33 41.88 78.33 44.89 142.42 54.98 142.42 51.98 78.33'/%3E%3C/svg%3E%0A");
        svg {
          display: none;
        }
      }
    }
  }
  .slon__page__cart {
    padding-bottom: 10px;
  }
  .slon-nav-props {
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      height: 100%;
      width: 24px;
      left: 50%;
      margin-left: -12px;
      background-color: #2a2a2f;
    }
    .slon-props__line {
      padding-top: 5px;
      padding-bottom: 10px;
      position: relative;

      span {
        display: block;
        color: #a9a9a9;
        font-size: 8px;
        line-height: 14px;
        text-transform: uppercase;
        position: absolute;
        bottom: 100%;
        left: 1px;
        margin-bottom: -2px;
        width: 150px;
      }
    }
  }
  .slon__page__top-news p {
    font-size: 14px !important;
    color: #a9a9a9 !important;
  }
  .slon__list-catalog__product__props-list .slon-props__line {
    padding: 5px 1px 10px;
    font-size: 12px;
    line-height: 18px;
  }
  .slon__compare__header,
  .slon__compare__row .slon__list-catalog__product__bay.is-active,
  .slon__compare__row  .slon__product__inner__bottom {
    display: none;
  }
  .slon__compare__header__mob-sort {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .slon__compare__row {
    position: relative;

    .slon__compare__col-products {

    }
    .slon__list-catalog__product,
    & .slon__list-catalog__product__politra,
    & .slon__list-catalog__product__price {
      padding-left: 10px;
      padding-right: 10px;
    }
    .slon__compare__col-props {
      position: absolute;
      bottom: 0;
      left: 0;
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: 0;
        height: 100%;
        left: 100%;
        width: 160px;
        margin-left: -12px;
        background-color: #2a2a2f;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: 0;
        height: 100%;
        right: 100%;
        margin-right: -12px;
        width: 160px;
        background-color: #2a2a2f;
      }
    }
    .slon__product__inner__top {
      height: 12px;
      min-height: 12px;
      flex-basis: 12px;
      margin-left: auto;
      width: calc(100% - 12px);
      &::after {
        border-bottom: 12px solid #2a2a2f;
        border-left: 12px solid transparent;
      }
    }
  }
  .slon-nav-props .slon-props__line::after {
    left: -120px;
  }
  .slon-nav-props {
    padding-bottom: 0;
    max-width: 100%;
    li:last-child::after {
      display: none;
    }
  }
  .slon__compare {
    overflow: visible;
  }
  .slon__compare__col-products--mob {
    display: block;
  }
  .slon__compare__col-products .slon__list-catalog__product__remove {

  }
  .slon__list-compare > .swiper-button-next,
  .slon__list-compare > .swiper-button-prev {
    display: none !important;
  }
  .slon__list-catalog__mob-pages {
    display: block;
    position: relative;
    padding: 10px 30px;
    border-top: 1px solid #1a1a1d;
    margin-bottom: 92px;
    span {
      display: block;
      text-align: center;
      font-size: 10px;
      line-height: 18px;
      color: #fff;
    }
    .swiper-button-next,
    & .swiper-button-next2 {
      top: 0 !important;
      margin-top: 0 !important;
      background: transparent !important;
      position: absolute;
      right: 0;
      height: 40px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 20;
    }
    .swiper-button-prev,
    & .swiper-button-prev2 {
      top: 0 !important;
      margin-top: 0 !important;
      background: transparent !important;
      position: absolute;
      left: 0;
      height: 40px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 20;
    }
    svg {
      width: 14px;
      height: auto;
      path {
        fill: #888;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      width: 0;
      height: 0;
      border-bottom: 12px solid #1a1a1d;
      border-left: 12px solid transparent;
      bottom: -3px;
      right: 0;
    }
  }
  .swiper-button-next2.swiper-button-disabled,
  .swiper-button-prev2.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
  }
  .slon__mob-compare-params {
    position: absolute;
    padding: 20px 10px;
    height: 90px;
    bottom: 100%;
    left: 0;
    width: 100%;
    z-index: 30;
    background-color: #1a1a1d;
    display: block;
    &__title {
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 5px;
    }
    &__switch {
      display: block;
      input {
        display: none;
        &:checked + .slon__mob-compare-params__switch__label {
          color: #fff;
          span {
            background-color: #0a898f;
            &::after {
              left: auto;
              right: 2px;
            }
          }
        }
      }
      &__label {
        font-size: 13px;
        line-height: 20px;
        color: #a9a9a9;
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
        span {
          margin-left: 10px;
          position: relative;
          width: 36px;
          min-width: 36px;
          height: 18px;
          border-radius: 9px;
          background-color: #8a8a8a;
          transition: all 0.3s ease-in-out;
          &::after {
            content: "";
            display: block;
            height: 14px;
            width: 14px;
            border-radius: 7px;
            background-color: #fff;
            position: absolute;
            z-index: 12;
            top: 2px;
            left: 2px;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
  .slon__list-compare {
    .slon__product__inner__body__top-product .slon__product__fav-compare{
      position: relative !important;
      top: auto !important;
      right: auto;
      border-top: 1px solid #1a1a1d;
      width: 100%;
      margin-top: 10px;
      li {
        height: 44px;
        padding: 10px;
        a {
          display: flex;
          align-items: center;
          .slon__mob-label {
            display: block;
            color: #a9a9a9;
            font-size: 10px;
            line-height: 14px;
            font-weight: 500;
            padding-left: 10px;
          }
        }
      }
    }
    .slon__list-catalog__product__remove {
      position: absolute;
      z-index: 20;
      top: 0;
      right: 10px;
      width: 18px;
      .slon__remove-product {
        display: block;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 147.81 172.12'%3E%3Cpath fill='%230a898f' d='M94.86,0H53V22H0V58.69H9.86l11,113.43H126.94L138,58.69h9.85V22H94.86ZM63,10.09H84.78V22H63ZM117.79,162H30L20,58.69H127.82ZM137.73,32.09V48.61H10.09V32.09Z'/%3E%3Crect fill='%230a898f' x='68.86' y='78.33' width='10.09' height='64.1'/%3E%3Cpolygon fill='%230a898f' points='95.83 78.33 92.83 142.42 102.92 142.42 105.93 78.33 95.83 78.33'/%3E%3Cpolygon fill='%230a898f' points='51.98 78.33 41.88 78.33 44.89 142.42 54.98 142.42 51.98 78.33'/%3E%3C/svg%3E%0A");
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: contain;
        svg {
          display: none;
        }
        span {
          display: none;
        }
      }
    }
  }
  .slon__product__del-mob {
    display: block;
  }
  .slon__article__header {
    display: flex;
    flex-direction: column-reverse;
    background-color: #1a1a1d;
    .slon__article__header__bg {
      position: relative;
      top: auto;
      left: auto;
    }
  }
  .slon__article__header__wrap {
    padding: 0 0 20px;
    justify-content: flex-start;
    align-items: flex-start;
    .h1 {
      font-size: 20px;
      line-height: 28px;
      text-align: left;
      padding-bottom: 15px;
    }
    .slon__article__anons {
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 20px;
      text-align: left;
    }
  }
  .slon__mob-hidden {
    display: none !important;
  }
  .slon__news-item .slon__news-item__desc .slon__news-item__title span {
    font-size: 16px;
    line-height: 20px;
  }
  .slon__page--news {
    display: flex;
    flex-direction: column-reverse;
    background-color: #1a1a1d;
    min-height: auto;
    .slon__page__news-bg {
      position: relative;
      top: auto;
      left: auto;
      height: auto;
      background-color: #000;
    }
  }
  .slon__page__top-news {
    padding-top: 0;
  }
  .slon__page__top-news h1 {
    color: #fff !important;
  }
  .slon__page--news .slon__page__news-bg--full picture img {
    height: auto !important;
  }
  .pr-50 {
    padding-right: 0;
  }
  .slon__dop-mat {
    padding-top: 20px;
  }
  .slon__single-brand__top {
    background-position: 50% 50%;
    background-size: cover;
    .slon__single-brand__top__logo {
      justify-content: center;
    }
  }
  .slon__page__header--lk {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    .slon__page__header__right-link {
      display: none !important;
    }
    .h1 {
      text-align: left !important;
    }
  }
  .slon__lk-item {
    flex-basis: 100%;
    .slon__lk-item__link {
      margin-bottom: 0;
      .slon__product__inner__top,
      & .slon__product__inner__bottom {
        display: none !important;
      }
      .slon__product__inner__body {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #1a1a1d;
        .slon__lk-item__title {
          min-height: auto;
        }
        .slon__lk-item__img {
          height: 60px;
          padding: 5px;
          display: flex;
          min-width: 70px;
          flex-basis: 70px;
          width: 70px;
          align-items: center;
          justify-content: center;
          img {
            max-width: 25px;
            max-height: 25px;
            width: auto;
            height: auto;
          }
        }
      }
    }
    &.slon__lk-item--mob {
      display: block;
      .slon__product__inner__body {
        border-bottom: none !important;
      }
    }
  }
  .slon__reg-bg {
    background-image: none;
    padding-top: 50px;
    padding-bottom: 30px;
    .slon__product__inner__top,
    & .slon__product__inner__bottom {
      display: none;
    }
    .slon__modal-box__wrap {
      padding: 0;
      background-color: transparent;
      .slon__main__input-box::after,
      & .slon__main__input-box::before,
      & .slon__main__submit-btn-box::after,
      & .slon__main__submit-btn-box::before {
        background-color: #1a1a1d;
      }
      .slon__modal-box__title {
        border-bottom: none;
        margin-bottom: 10px;
      }
      .slon__reg-soc {
        flex-direction: column;
        .slon__reg-soc__label {
          flex-basis: auto;
          margin: 30px auto;
          &::before {
            height: 1px;
            width: 500px;
            left: 100%;
            top: 50%;
            bottom: auto;
            margin-left: 10px;
          }
          &::after {
            height: 1px;
            width: 500px;
            right: 100%;
            left: auto;
            top: 50%;
            bottom: auto;
            margin-right: 10px;
          }
        }
      }
      .slon__reg-soc__box {
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        .slon__reg-soc__box__caption {
          padding-bottom: 20px;
        }
        .slon__reg-soc__list {
          flex-direction: row;
          justify-content: center;
          li {
            width: 50px;
            flex-basis: 50px;
            margin: 0 10px;
            .slon__reg-soc__btn {
              height: 50px;
              width: 50px;
              padding: 0;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: contain;
              overflow: hidden;
              text-indent: 1000px;
              text-align: left;
              font-size: 0;
              color:transparent;
              display: block;
              &--vk {
                background-image: url("../img/svg/vk-mob.svg");
              }
              &--face {
                background-image: url("../img/svg/face-mob.svg");
              }
              &--google {
                background-image: url("../img/svg/google-mob.svg");
              }
              &--inst {
                background-image: url("../img/svg/inst-mob.svg");
              }
              svg {
                display: none;
              }
              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .slon__page__back-link {
    display: inline-flex;
    margin-right: 10px;
    vertical-align: top;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #898989;
    margin-top: 3px;
  }
}

@media screen and (max-width: 599px) {
  .slon__list-catalog__slider__item {
    width: 320px;
  }
  .slon__col-filter.show .smart-filter__header {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .slon__col-filter.show .smart-filter__footer {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .slon__list-catalog__slider > .swiper-wrapper {
    & > .swiper-slide {
      width: auto !important;
    }
  }
  .slon__list-catalog__wrap {
    margin-left: -35px;
    margin-right: -35px;
  }
  .slon__list-catalog--complect .slon__list-catalog__wrap {
    margin-left: 0;
    margin-right: 0;
  }
  .swiper-pagination.swiper-pagination-progressbar.scroll {
    top: auto;
    bottom: 50px;
    max-width: 100%;
    width: 290px;
    right: 50%;
    margin-right: -145px;
  }
  .slon__list-catalog__caption {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .slon__list-catalog__wrap .swiper-button-next,
  .slon__list-catalog__wrap .swiper-button-prev {
    display: none;
  }
  .slon__category__item {
    height: 280px;
    padding-top: 200px;
  }
  .slon__brands__wrap {
    margin: 0 -30px;
    width: auto;
  }
  .slon__brands__next,
  .slon__brands__prev {
    display: none;
  }
  .slon__brands .swiper-slide {
    width: 250px;
  }
  .slon__border-box .slon__border-box__inner {
    padding: 25px 20px;
  }
  .slon__subscription__promo .slon__subscription__promo__caption {
    font-size: 20px;
  }
  .slon__subscription__promo .slon__subscription__promo__text {
    font-size: 16px;
  }
  .slon__border-box .slon__border-box__inner__line-top,
  .slon__border-box .slon__border-box__inner__line-bottom,
  .nav--catalog-footer,
  .nav--footer-menu {
    display: none;
  }
  .slon__news-item .slon__news-item__desc {
    padding: 20px;

    .slon__news-item__title span {
      font-size: 16px;
    }
  }
  .lSSlideWrapper {
    padding-left: 0;
  }
  .slon__main__single-product__badge {
    left: 0;
  }
  .slon__main__single-product__images {
    .lSNext {
      right: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 289.05 492'%3E%3Cpath fill='%238a8a8a' d='M281.2,226.8,62.25,7.86a27,27,0,0,0-38.06,0L8.06,24A27,27,0,0,0,8.06,62L191.92,245.9,7.86,430a27,27,0,0,0,0,38.07L24,484.14a27,27,0,0,0,38.07,0L281.2,265a27.16,27.16,0,0,0,0-38.2Z'/%3E%3C/svg%3E%0A");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 20px auto;
    }
    .lSPrev {
      left: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 289.23 492'%3E%3Cpath fill='%238a8a8a' d='M7.83,265,226.58,484.13a27,27,0,0,0,38.07,0l16.13-16.1a27,27,0,0,0,0-38.07L97.13,246,281.35,62.08a27,27,0,0,0,0-38.07L265.28,7.88a27,27,0,0,0-38.07,0L7.87,226.79a27.16,27.16,0,0,0,0,38.2Z'/%3E%3C/svg%3E%0A");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 20px auto;
    }
  }

  .slon__main__bg-desc {
    background-position: 50% 100%;
    background-size: 100% auto;
    padding-bottom: 400px;
    background-color: #000;
    .slon__main__bg-desc__row {
      min-height: auto;
      padding-bottom: 0;
      text-align: left !important;
      .slon__main__bg-desc__text {
        padding-right: 0;
      }
    }
  }
  .slon__main__img-desc__col-pic {
    order: -1;
    padding-bottom: 15px;
  }
  .slon__main__img-desc {
    .fpad60 {
      padding-bottom: 15px;
    }
  }
  .slon__main__characteristic__row .slon__main__characteristic__value,
  .slon__main__characteristic__row .slon__main__characteristic__label {
    text-align: left;
    font-size: 12px;
    line-height: 16px;
  }
  .slon__main__section .section__border {
    border: none;
  }
  .slon__main__link-ico--pdf .slon__main__icon-left {
    flex-basis: 20px;
    max-width: 20px;
    margin-bottom: auto;
    margin-top: 5px;
  }
  .slon__main__link-ico--pdf .slon__main__link-ico--pdf__desc .slon__main__link-ico--pdf__caption {
    font-size: 12px;
  }
  .slon__main__link-ico--pdf__size {
    font-size: 10px;
  }
  .one-bay-product.slon__product {
    display: block;
  }
  .modal-footer--relevant {
    display: none !important;
  }
  .fpad60 {
    padding-bottom: 20px;
  }
  .tpad60 {
    padding-top: 20px;
  }
  .breadcrumbs {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tpad15 {
    padding-top: 5px;
  }
  .slon__page__header {
    padding-bottom: 20px;
  }
  .slon__subscription__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .slon__subscription {

  }
}

@media screen and (max-width: 440px) {
  .slon__list-catalog__wrap {
    margin-left: -15px;
    margin-right: -15px;
  }
  .slon__list-catalog__product,
  .slon__list-catalog__product__politra,
  .slon__list-catalog__product__price {
    padding-left: 10px;
    padding-right: 10px;
  }
  .slon__list-catalog__slider__item {
    width: 230px;
  }
  .slon__list-catalog__product__pic__item {
    height: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .swiper-pagination.swiper-pagination-progressbar.scroll {
    width: calc(100% - 30px);
    right: 15px;
    margin-right: 0;
  }
  .slon__category__item {
    height: 200px;
    padding-top: 120px;
  }
  .slon__category__item__title {
    font-size: 16px;
  }

  .h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .slon__all-link {
    margin-top: 2px;
  }

  .slon__subscription__promo {
    height: auto;
    padding: 85px 0 20px;
    background-position: 50% 0;
    text-align: center;
    background-size: 80px auto;

  }
  .slon-form__row-inp {
    display: block !important;
  }
  .slon-form__row-inp .slon-form__input .slon-form__input__inner {
    margin-right: 0;
  }

  .slon__col-product .slon__product__inner__body .slon__list-catalog__product {
    padding-top: 10px;
  }
  .slon__col-product {
    .slon__product__text .slon__list-catalog__product__title {
      padding-left: 0;
    }

    .slon__list-catalog__product__politra {
      padding-left: 0;
    }

    .slon__list-catalog__product__price {
      padding-left: 0;
      display: block;

      & > span {
        display: block;
      }
    }
  }
  .slon__page__pagination li {
    padding: 0 3px;
  }
  .slon__btn .slon__btn__center {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .slon__btn-azure__box .slon__btn-azure2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .slon__main__single-product__images__item {
    height: 300px;

    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
  .slon__main__single-product__articule b {
    display: block;
  }
  .slon__main__single-product__top-right .slon__main__single-product__top-right__item .slon__list-catalog__product__price {
    flex-basis: 100%;
  }
  .slon__product__promo {
    margin-left: 0;
    margin-top: 25px;
  }
  .slon__product__promo .slon__product__promo__wrap {
    margin-right: 0;
    right: auto;
    left: 0;
  }
  .slon__main__single-product__delivery span {
    flex-basis: 33.33%;
  }
  .slon__complect__wrap__result .slon__complect__sale-box,
  .slon__complect__wrap__result .slon__complect__wrap__result__btn {
    padding-left: 0;
    padding-right: 0;
  }
  .one-bay-product__col-product {
    min-width: 100px !important;

    .slon__product__min-product {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

  }
  .modal-dialog .modal-content {
    padding: 0 !important;
  }
  .slon__main__form__footer {
    display: block !important;

    .slon__main__form-persona {
      margin-bottom: 10px;
    }
  }
  .one-bay-product .one-bay-product__col-product .slon__product__min-product__badge {
    margin-left: 0px;
  }
  .one-bay-product .one-bay-product__col-product {
    padding-right: 0;
  }
  .modal-dialog .slon__product__min-product--row-vertical {
    border-bottom: none;
  }
  .slon__page__cart__promo-cod__form {
    padding-right: 0;
  }
  .slon__form-gorizont__sub {
    position: relative;
    width: 100%;
    top: auto;
    right: auto;
    padding-top: 10px;
  }
  .slon__main__submit-btn-box .slon__main__btn-yellow.h-60 {
    height: 45px;
  }
  .slon__list-compare .slon__list-catalog__product__price {
    min-height: 40px;

    .slon__product__price-value {
      display: block;
      flex-basis: 100%;
    }
  }
  .slon__main__box__header {
    flex-basis: 12px;
    min-height: 12px;
    width: calc(100% - 12px);
    margin-left: 12px;
  }
  .slon__main__box__footer {
    flex-basis: 12px;
    min-height: 12px;
    width: calc(100% - 12px);
  }
  .slon__page__cart__item__wrap {
    margin: -4px 0;
  }
  .slon__product__inner__bottom {
    height: 12px;
    min-height: 12px;
    flex-basis: 12px;
    width: calc(100% - 12px);
    padding-left: 12px;
    &::after {
      border-top: 12px solid #2a2a2f;
      border-right: 12px solid transparent;
    }
  }
  .slon__product__inner__top {
    height: 12px;
    min-height: 12px;
    flex-basis: 12px;
    width: calc(100% - 12px);
    &::after {
      border-bottom: 12px solid #2a2a2f;
      border-left: 12px solid transparent;
    }
  }
  .slon__brands__item__logo-box {
    height: 120px;
    padding: 20px;
  }
}